*,cover
*.log
*.pyc
*.pyd
*.pyo
.DS_Store
.Python
.cache
.coverage
.coverage.*
.dockerignore
.editorconfig
.git
.github/
.gitignore
.pytest_cache
.tox
.vscode
app.yaml
cron.yaml
Dockerfile
__pycache__
cloudbuild.yaml
coverage.xml
env
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
