<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
<div>
  <h1>{{ title }}</h1>
  <p><a href="https://github.com/oittaa/ibkr-report-parser">Source code at GitHub</a></p>
  <h2>1. Download a CSV trades report from Interactive Brokers.</h2>
  <p>Go "Reports" -> "Statements".</p>
  <p>Create new "Custom Statement".</p>
  <p>From "Sections" select "Trades".</p>
  <p>From "Section Configurations" make sure "Hide Details for Positions, Trades and Client Fees Sections?" is set to "No".</p>
  <img src="static/images/custom_statement.png" alt="Sections: Trades">
  <p>After saving the statement, run it with CSV output.</p>
  <img src="static/images/run_statement.png" alt="Format: CSV">
  <h2>2. Upload the CSV file.</h2>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>
</div>
<div>{% block result %}{% endblock %}</div>
</body>
</html>
