<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?{{ sri.css|urlencode }}" integrity="{{ sri.css }}" />
</head>

<body>
  <div>
    <h1>{{ title }}</h1>
    <p><a href="https://github.com/oittaa/ibkr-report-parser">Source code at GitHub</a></p>
    <h2>1. Download a CSV trades report from Interactive Brokers.</h2>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Steps</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Go to <strong>Reports</strong> &rarr; <strong>Statements</strong>.</td>
        </tr>
        <tr>
          <td>Create new <strong>Custom Statement</strong>.</td>
        </tr>
        <tr>
          <td>From <strong>Sections</strong> select <strong>Trades</strong>.</td>
        </tr>
        <tr>
          <td>From <strong>Section Configurations</strong> make sure <strong>Hide Details for Positions, Trades and Client Fees Sections?</strong> is
            set to <strong>No</strong>.
          </td>
        </tr>
        <tr>
          <td>
            <img src="static/images/custom_statement.png" alt="Sections: Trades">
          </td>
        </tr>
        <tr>
          <td>After saving the statement, run it with a <strong>CSV</strong> output.
          </td>
        </tr>
        <tr>
          <td>
            <img src="static/images/run_statement.png" alt="Format: CSV">
          </td>
        </tr>
      </tbody>
    </table>
    <h2>2. Upload the CSV file.</h2>
    <form method="post" id="form" action="{{ url_for('main_post') }}#result" enctype="multipart/form-data">
      <label class="button-4"><input type="file" id="file" name="file">Choose file</label>
    </form>
  </div>
  <div id="result">{% block result %}{% endblock %}</div>
  <script src="{{ url_for('static', filename='js/main.js') }}?{{ sri.js|urlencode }}" integrity="{{ sri.js }}"></script>
</body>
</html>
